.page--disappearing-image {
  grid-template-rows: auto 1fr auto;

  .page__card {
    grid-template-rows: min-content min-content 1fr min-content;
  }

  .page__card > .card-body {
    display: grid;
    grid-template: minmax(4em, 4fr) minmax(3em, 1fr) 5fr min-content / 1fr;
    grid-gap: 1em;
    gap: 1em;

    height: 100%;
  }

  .card-body__disappearing-image {

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  .countdown__number {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .interaction--type-option-set {
    overflow-y: auto;
  }
}
