.page--scratch {
  grid-template-rows: auto 1fr auto;

  .page__card {
    grid-template-rows: 1fr;
  }

  .card-body {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: center;
    justify-content: center;
    justify-items: center;

    overflow: hidden;
  }

  @include media-breakpoint-up(md) {
    grid-template-rows: 1fr;

    .page__card {
      grid-template-rows: min-content 1fr min-content;
    }
  }
}

.interaction--type-scratcher {
  position: relative;
  display: inline-block;

  height: 100%;

  user-select: none;

  overflow: hidden;

  .scratch__finger {
    position: absolute;

    top: 25%;
    left: 25%;

    height: 25%;

    z-index: 1000;
  }

  .scratch__canvas {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 500;

    user-select: none;

    cursor: pointer;
  }

  .scratch__image {
    position: relative;

    max-height: 100%;
    max-width: 100%;

    z-index: 250;

    user-select: none;
  }
}
